.document_edit .cke_contents {
    min-height: 500px;
}
.document_meta fieldset >div >div {
    float: left;
    width: 24%;
    text-align: center;
}
.document_meta .tab-content .tab-pane:last-child fieldset > div > div {
    float: left;
    width: 100%;
}
.document_meta .tab-content {
    min-height: 150px;
}
.document_meta fieldset > div > div:last-child {
  
}
.document_meta  .tab-content{
    border: 1px solid #ccc;
    padding: 5px 5px 8px 8px;
}
.document_meta  .nav-tabs-custom{
    box-shadow: none;
    margin-bottom: 5px;
}

.document_meta .sonata-ba-collapsed-fields > .form-group > .control-label{
    display: none;
}
.document_meta .form-group{
    margin: 0;
}

.document_meta .box-body{
    max-height: 760px;
    overflow: auto;
}
.document_meta  .nav-tabs-custom>.nav-tabs>li:first-of-type.active>a{
        border-left-color: #ccc;
}

ul.sidebar-menu > li > a{
    display: none;
}

.treeview-menu.menu_level_1{
    display: block !important;
}