@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');

*, *:after, *:before {
    outline: none !important;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

#wrap {
    min-height: 100%;
    padding-bottom: 365px;
}

/*  MASS  *//*  MASS  *//*  MASS  *//*  MASS  */
a {
    color: #25bb75;
}

a:hover {
    color: #1a915a;
}

img {
    max-width: 100%;
}

.btn-light {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #969696;
    color: #4f4f4f;
    font-size: 14px;
    text-decoration: none;
    background-color: transparent !important;
}

/* === fix botstrap == */
.alert, .navbar-default, .panel, .thumbnail {
    border-radius: 0;
}

.navbar {
    min-height: 0;
    margin-bottom: 0;
}

.navbar-default {
    border: none;
    font-size: 18px;
}

.navbar-default .navbar-link, .navbar-default .navbar-link:hover,
.navbar-default .navbar-text, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-link {
    padding-left: 20px;
}

.navbar-text {
    margin: 0;
    padding: 10px 15px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="date"]  {
    border-radius: 0;
    height: 55px;
    margin-bottom: 15px;
}
.btn {
    border-radius: 0;
    border: none;
    padding: 0 30px;
    line-height: 55px;
    font-size: 16px;
}

.btn-success {
    background-color: #25bb75;
}
.btn-success:hover {
    background-color: #14aa64;
}
/* HEADER *//* HEADER *//* HEADER *//* HEADER */
#header {
    color: #fff;
    background-color: rgba(79, 79, 79, .8);
    font-size: 16px;
    padding-top: 24px;
    height: 140px;
    position: relative;
    z-index: 2;
}

.top-contacts {
    line-height: 50px;
    float: left;
}
.top-contacts .phone {
    padding-left: 50px;
    background-image: url(../img/icon-phone.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 20px;
    width: 240px;
    margin-bottom: 20px;
}
.top-contacts .time {
    padding-left: 50px;
    background-image: url(../img/icon-clock.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 20px;
    width: 240px;
    margin-bottom: 20px;
}
.top_aut_block {
    float: right;
}
.top_aut_block a {
    display: inline-block;
    padding: 0 5px;
    line-height: 42px;
}

.top-socials {
    float: right;
}
.top-socials a {
    display: inline-block;
    padding: 0 15px;
    font-size: 22px;
    line-height: 42px;
}
@media (max-width: 767px) {
    .top-contacts .time {
        display: none;
    }
}
/*  MENU  *//*  MENU  *//*  MENU  *//*  MENU  */
#header .navbar {
    background-color: #4f4f4f;
}

.navbar #main-menu a, .navbar #main-menu span {
    color: #fff;
    padding: 5px 27px;
    text-align: left;
    font-size: 16px;
    height: 56px;
    background-color: transparent !important;
    border-right: 1px solid rgba(255, 255, 255, .1);
    box-shadow: inset 0 0 0 0 #25bb75;
    transition: .3s;
    -webkit-transition: .3s;
    vertical-align: middle;
    display: table-cell;
}

#header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.menu_active,
#header .navbar  > a.logo:hover, #header .navbar a.logo.menu_active,
#header .navbar .nav > li > span:hover,
#header .navbar .nav > li > span.menu_active {
    background-color: #3f3f3f !important;
    color: #25bb75;
    box-shadow: inset 0 -4px 0 0 #25bb75;
}

#header a.logo {
    display: block;
    padding: 0 30px 0 0;
    border: none !important;
}

.nav-justified > li {
    width: auto;
    vertical-align: top;
}
ul.drop_list {
    position: absolute;
    z-index: 100;
    background: #4f4f4f;
    padding: 5px;
    display: none;
}
li.drop_down:hover .drop_list{
    display: block;
}

ul.drop_list li {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#header .navbar ul.drop_list li a {
    padding: 5px 15px;
    height: auto;
}

#header .navbar ul.drop_list li a.menu_active {
    text-decoration: underline;
}
.navbar-default .navbar-collapse {
    border-color: transparent;
}
@media (max-width: 991px) {
    .logo {
        float: left;
        }
    #header {
        height: auto;
        background-color: #4f4f4f;
        }
    #header .navbar .nav li a, #header .navbar .nav li span {
        padding: 5px 10px;
        line-height: .9em;
        }
    }
@media (max-width: 767px) {
    #main-menu {
        padding: 0;
        }
    .navbar-toggle {
        border-radius: 0;
        margin: 0;
        padding: 18px 13px;
        height: 56px;
        border: none;
        background: #25bb75 !important;
        }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        width: 30px;
        height: 3px;
        margin-bottom: 6px;
        }
    #header .navbar .nav li a, #header .navbar .nav li span {
        display: block;
        border: none;
        line-height: 48px;
        }
    ul.drop_list {
        position: relative !important;
        background-color: #3f3f3f;
        }
    }

/* CONTENT*//* CONTENT*//* CONTENT*//* CONTENT*/
.section-header {
    font-size: 50px;
    color: #4f4f4f;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.top-banner {
    clear: both;
    margin-top: -140px;
}

.top-banner .caption {
    position: absolute;
    top: 40%;
    color: #fff;
    left: 0;
    right: 0;
}

.top-banner header {
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 570px;
    line-height: 1em;
}

.top-banner header:after {
    display: block;
    content: '';
    background-color: #25bb75;
    width: 70px;
    height: 4px;
    margin: 15px 0 30px;
}

.top-banner .text {
    max-width: 570px;
    font-size: 20px;
    text-transform: uppercase;
}

.top-banner .owl-nav {
    bottom: 90px;
    right: 10%;
    max-width: 1200px;
    position: absolute;
    text-align: right;
}

.owl-nav > div {
    display: inline-block;
    background-color: #25bb75;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 1px;
}

.owl-nav > div:hover {
    background-color: #1a915a;
}

.top-banner .owl-dots {
    position: absolute;
    right: 20%;
    bottom: 90px;
}

.owl-dot {
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin: 5px;
    display: inline-block;
}

.owl-dot.active {
    background-color: #25bb75;
}

@media (max-width: 991px) {
    .top-banner {
        margin-top: 0;
        }
    .top-banner .caption {
        top: 25%;
        }
    .top-banner header {
        font-size: 35px;
        }
    }
@media (max-width: 767px) {
    .section-header {
        font-size: 28px;
    }
    .top-banner .caption {
        top: 0;
        bottom: 0;
        padding: 30px 15px;
        background: rgba(79, 79, 79, 0.73);
    }
    .top-banner .owl-nav {
        bottom: 35px;
    }
    .top-banner .owl-dots {
        bottom: 35px;
    }
}
/* == ABOUT =============== */
.about {
    padding: 120px 0 200px;
    background-image: url(../img/about-left-bg.png), url(../img/about-right-bg.png);
    background-position: left top, right top;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #7d7d7d;
    font-size: 16px;
    position: relative;
}

.about:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    background-image: url(../img/about-plant.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 255px;
    height: 460px;
}

.about .section-header::before {
    content: '';
    background-image: url(../img/icon-weights.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto -10px;
    width: 60px;
    height: 60px;
}

.about-text {
    max-width: 680px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.about p {
    margin-bottom: 20px;
}

.about .readmore {
    font-size: 16px;
    color: #25bb75;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px;
    }
@media (max-width: 1199px) {
    .about {
        background-size: auto 55%;
        }
    }
@media (max-width: 991px) {
    .about {
        background: none;
        padding: 60px 0 150px;
        }
    .about:after {
        background-size: contain;
        width: 35%;
        }
    }
@media (max-width: 767px) {

    }
/* ==== BENEFITS  ==== */
.benefits {
    background-color: #f4f4f4;
    padding: 30px 0 200px;
}

.benefits .section-header {
    margin-bottom: 75px;
}

.benefits .section-header::before {
    content: '';
    background-image: url(../img/icon-medal.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 20px;
    width: 60px;
    height: 60px;
}

.benefits-items {
    max-width: 1100px;
    width: 100%;
    display: table;

}

.benefits .item {
    width: 33.333%;
    float: left;
    color: #7d7d7d;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0px 50px;
}

.benefits .item .number {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    font-size: 150px;
    color: #e6e6e6;
    font-weight: 600;
    line-height: 60px;
}

.benefits .item header {
    color: #25bb75;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 50px;
    }
@media (max-width: 1199px) {
    .benefits .item {
        padding: 0px 35px;
        }
    }
@media (max-width: 991px) {
    .benefits {
        padding: 30px 0 60px;
        }
    .benefits .item header {
        color: #25bb75;
        font-size: 26px;
        }
    }
@media (max-width: 767px) {
    .benefits .item {
        width: 100%;
        float: none;
        margin-bottom: 70px;
        }
    }
/* ==== PARTNERS ========== */
.partners {
    padding: 30px 0 200px;
    position: relative;
}

.partners:before {
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    background-image: url(../img/partners-plant.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 443px;
    height: 606px;
    max-width: 100%;
}

.partners:after {
    content: '';
    position: absolute;
    right: 0;
    top: -35px;
    background-image: url(../img/partners-paper.png);
    background-position: right top;
    background-repeat: no-repeat;
    width: 268px;
    height: 592px;
    max-width: 100%;
}

.partners .section-header {
    margin-bottom: 75px;
}

.partners .section-header::before {
    content: '';
    background-image: url(../img/icon-hands.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 20px;
    width: 60px;
    height: 60px;
}

.partners .owl-nav {
    float: right;
}

.partners .owl-dots {
    float: right;
    margin: 6px 40px;
}

.partners .owl-dot {
    background-color: #d1d1d1;
}

.partners .owl-dot.active {
    background-color: #25bb75;
    }
@media (max-width: 991px) {
    .partners {
        padding: 30px 0 100px;
        }
    .partners:after {
        display: none;
        }
    .partners:before {
        background-size: 100%;
        width: 40%;
        }
    }
/* ========== reviews ====== */
.reviews {
    padding: 50px 0 150px;
    background-color: #f4f4f4;
}

.reviews .section-header {
    margin-bottom: 80px;
}

.reviews .section-header::before {
    content: '';
    background-image: url(../img/icon-reviews.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 20px;
    width: 60px;
    height: 60px;
}

.reviews .item {
    padding-right: 110px;
    position: relative;
    overflow: hidden;
}

.reviews .item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    z-index: -1;
    background-image: url(../img/icon-quotes.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.reviews img.image {
    width: 55px;
    float: left;
}

.reviews .caption {
    float: right;
    width: calc(100% - 100px);
}

.reviews .fa-star {
    color: #d9d9d9;
    font-size: 12px;
}

.reviews .fa-star.active {
    color: #25bb75;
}

.reviews .item header {
    color: #4f4f4f;
    font-size: 24px;
    font-weight: bold;
    padding-right: 120px;
    position: relative;
    margin: 20px 0 35px;
}

.reviews .date {
    color: #888;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 0;
    width: 120px;
    text-align: right;
    font-weight: 400;
}

.reviews .caption {
    font-size: 16px;
    color: #7d7d7d;
}

.reviews .readmore {
    font-size: 16px;
    color: #25bb75;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 0px;
}

.reviews .owl-nav {
    float: right;
}

.reviews .owl-dots {
    float: right;
    margin: 6px 40px;
}

.reviews .owl-dot {
    background-color: #d1d1d1;
}

.reviews .owl-dot.active {
    background-color: #25bb75;
}
@media (max-width: 991px) {
    .reviews {
        padding: 50px 0 100px;
    }
}
/* ================  SERVICES =============== */
.services {
    padding-top: 100px;
}

.services .section-header {
    max-width: 800px;
    margin: 0 auto 80px
}

.services .section-header::before {
    content: '';
    background-image: url(../img/icon-services.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 20px;
    width: 60px;
    height: 60px;
}

.service {
    position: relative;
    padding: 0 90px 80px 0;
}

.service header,  .service header a{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4f4f4f;
    line-height: 1.1;
    margin: 30px 0;
}

.service .number {
    position: absolute;
    z-index: -1;
    top: 65px;
    left: 0;
    right: 0;
    font-size: 120px;
    color: #f4f4f4;
    font-weight: 600;
    line-height: 60px;
}

.service ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service li a {
    color: #7d7d7d;
    font-size: 16px;
    display: block;
    padding: 5px 0;
    margin-bottom: 10px;
}

.service li a:before {
    content: '';
    border: 2px solid #25bb75;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
}

/* ======== DOCUMENT PAGE =========== */
.document {
    margin-bottom: 140px;
}

.doc-header {
    color: #4f4f4f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 100px 0 35px;
}

.doc-header .price {
    display: inline-block;
    color: #fff;
    padding: 10px 12px;
    vertical-align: baseline;
    background-color: #25bb75;
}

.document aside {
    margin-top: 100px;
    margin-left: -15px;
}

aside .btn-light {
    display: block;
    margin-bottom: 25px;
}

aside .doc-header {
    margin: 50px 0 20px;
}

.document aside .back {
    display: block;
    color: #25bb75;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
}

.steps-nav {
    font-size: 22px;
    font-weight: bold;
    background-color: #4f4f4f;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    color: #25bb75;
}

.steps-nav li {
    float: left;
}

.steps-nav li span, .steps-nav li a {
    padding: 15px 35px;
    display: block;
}

.steps-nav li a {
    color: #fff;
    text-decoration: none !important;
    box-shadow: inset 0 0 0 0 #25bb75;
    transition: .3s;
    -webkit-transition: .3s;
}

.steps-nav li a:hover {
    background-color: #3f3f3f !important;
    color: #25bb75;
    box-shadow: inset 0 -4px 0 0 #25bb75;
}

.panel-grey {
    padding: 35px 45px;
    background: #f4f4f4;
    color: #7d7d7d;
    font-size: 18px;
}

form {
    color: #7d7d7d;
    font-size: 18px;
    margin-bottom: 15px;
}

form label {
    font-size: 18px;
    color: #7d7d7d;
    font-weight: 400;
}

form input[type]:not([type="radio"]):not([type="checkbox"]),
textarea {
    height: 55px;
    padding: 0 10px;
    display: block;
    width: 100%;
    padding: 16px 10px;
}

form textarea:focus,
form input:focus {
    border: 1px solid #25bb75;
}

.green-header {
    font-size: 22px;
    font-weight: bold;
    color: #25bb75;
    margin: 55px 0 25px;
}

.alert.green {
    padding: 25px 20px;
    background-color: #25bb75;
    font-size: 18px;
    border: none;
    text-shadow: none;
    border-radius: 0;
    color: #fff;
}

.document .next {
    display: block;
    color: #25bb75;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #4f4f4f;
    padding: 15px;
    margin-top: 50px;
}

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
#footer {
    margin-top: -365px;
    height: 365px;
    padding: 55px 0 0;
    color: #fff;
    background-color: #4f4f4f;
}

#footer hr {
    opacity: .2;
    margin: 30px 0 40px;
}

#footer a {
    color: #fff;
}

.footer-icon {
    float: left;
    margin: 4px 0 0 0;
}

.footer-contact {
    margin-left: 35px;
}

#footer .nav a {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent !important;
}

#footer .bottom-line {
    padding: 30px 0 0;
    opacity: .5;
}

#footer .socials {
    text-align: right;
}

#footer .socials a {
    color: #27b673;
    font-size: 24px;
    display: inline-block;
    padding: 10px;
}

@media (max-width: 991px) {
    #footer {
        height: auto;
        padding: 30px 0 0;
        }
    #footer .nav-justified > li {
        display: block;
        }
    #footer .socials {
        text-align: left;
        }
    #footer .bottom-line {
        padding: 15px 0 10px;
    }
}
/* MEDIAS *//* MEDIAS *//* MEDIAS *//* MEDIAS */
.list-header {
    border-bottom: 1px solid #25bb75;
    padding: 15px 0;
    margin-bottom: 15px;
}
