
{{ render(controller('AppBundle:Header:Index', { 'Meta':Document })) }}
<div id="document">
    <!-- OPEN CONTENT  -->    
    <section class="document">
        <div class="container">  
            <div class="row">
                <div class="col-md-9">
                    <header class="doc-header">{{ Document.description.name }} <span class="price"> {{ Document.price }}  грн.</span></header>                   
                    <div class="panel-grey">
                        {{ Document.description.shortDescription|raw }}
                    </div>
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('document_add') }}" method="post">                
                        <header class="doc-header">Информация для формирования документа</header>
                        <div class="row">
                            <input name="document_id" type="hidden" value="{{Document.id}}"/>
                            {% for field in Document.fields %}
                                {% if field.type == 'text' %}
                                    <div class="col-sm-6">
                                        <label>{{field.description.name}}</label>
                                        <input name="fields[{{field.id}}]" value="" type="text"/>
                                    </div>
                                {% endif %}
                                {% if field.type == 'number' %}
                                    <div class="col-sm-6">
                                        <label>{{field.description.name}}</label>
                                        <input name="fields[{{field.id}}]" value="" type="number"/>
                                    </div>
                                {% endif %}
                                {% if field.type == 'date' %}
                                    <div class="col-sm-6">
                                        <label>{{field.description.name}}</label>
                                        <input name="fields[{{field.id}}]" type="date"/>
                                    </div>
                                {% endif %}
                                {% if field.type == 'checkbox' %}
                                    <div class="col-sm-6">
                                        <label for="field-{{field.id}}">{{field.description.name}}</label>
                                        <input id="field-{{field.id}}" name="fields[{{field.id}}]" type="checkbox" {% if field.choice %} checked  {% endif %} />
                                    </div>
                                {% endif %}
                                {% if field.type == 'radio_list' %}
                                    <div class="col-sm-12">
                                        <div class="list-header">{{field.description.name}}</div>
                                    </div>
                                {% endif %}    
                                {% if field.type == 'radio_el' %}
                                     <div class="col-sm-6">
                                         <input id="field-{{field.id}}" name="fields[{{field.groupId}}]" type="radio" {% if field.choice %} checked  {% endif %} value="{{field.id}}" />
                                         <label for="field-{{field.id}}"> {{field.description.name}}</label>
                                    </div>
                                {% endif %} 
                                {% if field.type == 'del' %}
                                    <div class="col-md-12 field-del">
                                        {% if field.description.description %}
                                            <div class="alert green">{{field.description.description}}</div>
                                        {% else %}
                                            <hr>
                                        {% endif %}
                                    </div>
                                {% endif %} 
                            {% endfor %}
                        </div>
                        <button class="next" style="color: #fff" type="submit">Добавить</button>
                    </form>
                    {% else %}
                    Для использования конструктора документа необходимо <a href="{{path('login')}}">войти</a> или <a href="{{path('registration')}}">зарегистрироваться</a>
                        
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <aside>
                        <a class="back" href="{{ path('category_show', {'slug': 'konstruktor-yuridicheskih-dokumentov'}) }}">
                            <img src="{{ asset('app/img/icon-arrow-left.png') }}"/>
                            Назат к списку документов
                        </a>
                        <header class="doc-header">Похожие документы:</header>
                        <a class="btn-light" href="#">Доверинность для банковского счета</a>
                        <a class="btn-light" href="#">Доверинность для банковского счета</a>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END CONTENT  -->
</div>

{{ render(controller('AppBundle:Footer:Index')) }}