
{{ render(controller('AppBundle:Header:Index', { 'Meta':Document })) }}
<div id="load">
    <!-- OPEN CONTENT  -->    
    <section class="document">
        <div class="container">  
            <div class="row">
                <div class="col-md-12">
                    <a target="__blank" href="{{ asset(link) }}" >Скачать {{Document.description.name}} в PDF</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END CONTENT  -->
</div>

{{ render(controller('AppBundle:Footer:Index')) }}