{{ form_start(form) }}    
<span class='email_changed {% if changed %} "" {% else %} hidden {% endif %}'> 
   {% trans %} Your email changed {% endtrans %}
</span>
<div class="form-group">
    {{form_label(form.email)}}
    {{form_errors(form.email)}}
    {{form_widget(form.email)}}
</div>
    {{ form_widget(form._token) }}
    <button class="btn btn-success" type="submit">{% trans %} Send {% endtrans %}</button>
<script>
    {% if changed %}
        setTimeout(function(){
            $('.email_changed').addClass('hidden');
            $('#changeEmailForm').modal('hide');
            $('#email_text').text('Email: {{app.user.email}}');
        }, 2000);
    {% endif %}
</script>