
{{ render(controller('AppBundle:Header:Index', { 'Meta':Meta })) }}

<div id="personal">
    <!-- OPEN CONTENT  -->
    <section class="document">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ Meta.description.name }}</h1>                          
                </div>
                <div class="col-md-4">
                    <h4>Документы</h4>                    
                    {% for document in documents %}
                        {% if document.result_code == 1 %}
                            <a target="_blank" href="{{ asset('app/pdf/' ~ document.link) }}" >{{document.name ~ ' ' ~ document.date_up|date("m.d.Y h:i:s")}}</a><br>
                        {% else %}
                            <a href="{{ path('payment', {'id': document.id}) }}" >
                                {{document.name ~ ' ' ~ document.date_up|date("m.d.Y h:i:s")}} <span style="color: red;">Оплатить</span>
                            </a><br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <h4>Личная информация</h4>                              
                    <span>Логин: {{ app.user.username }}</span> <br>
                    <span>Email: {{ app.user.email }}</span> <a href="#"  data-toggle="modal" data-target="#changeEmailForm" >Изменить</a> <br>
                    <a href="#"  data-toggle="modal" data-target="#changePassForm" >Изменить пароль</a>
                </div>
                <div id="changePassForm" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                {{ form_start(PForm) }}    
                                <div class="form-group">
                                    {{form_label(PForm.oldPassword)}}
                                    {{form_errors(PForm.oldPassword)}}
                                    {{form_widget(PForm.oldPassword)}}
                                </div>
                                <div class="form-group">
                                    {{form_errors(PForm.newPassword)}}
                                    {{form_widget(PForm.newPassword)}}
                                </div>
                                <button class="btn btn-success" type="submit">Отправить</button>
                                {{ form_end(PForm) }}  
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div id="changeEmailForm" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                {{ form_start(EForm) }}    
                                <div class="form-group">
                                    {{form_label(EForm.email)}}
                                    {{form_errors(EForm.email)}}
                                    {{form_widget(EForm.email)}}
                                </div>
                                <button class="btn btn-success" type="submit">Отправить</button>
                                {{ form_end(EForm) }}  
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>            
        </div>
    </section>
</div>
<!-- END CONTENT  -->
</div>
{% block javascripts %}
    <script>
        $('#changePassForm').on('submit', 'form', function (e) 
        {
            e.preventDefault();
            var url = "{{ path('passchange') }}";
            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {
                $('#changePassForm').find('.modal-body').html(response);
            });
        });
    </script>
    <script>
        $('#changeEmailForm').on('submit', 'form', function (e) 
        {
            e.preventDefault();
            var url = "{{ path('emailchange') }}";
            var formSerialize = $(this).serialize();

            $.post(url, formSerialize, function (response) {        
                $('#changeEmailForm').find('.modal-body').html(response);
            });
        });
    </script>
{% endblock %}
{{ render(controller('AppBundle:Footer:Index')) }}