
{{ render(controller('AppBundle:Header:Index', { 'Meta':Category })) }}

<div id="category">
    <!-- OPEN CONTENT  -->
    <section class="services">
        <div class="container">
            <header class="section-header text-center">{{ Category.description.name }}</header>
            <div class="row">
                {% for Child in Category.children  %}
                    <div class="col-sm-4">
                        <div class="service">
                            <div class="number">0{{ loop.index }}</div>
                            <img class="image" src="{{ asset('app/img/service1.png') }}" alt="услуга"/>
                            <header><a href="{{ path('category_show', {'slug': Child.slug}) }}">{{ Child.description.name }}</a></header>
                            <ul>
                                {% for Document in Child.documents  %}
                                    <li><a href="{{ path('document_show', {'slug': Document.slug}) }}">{{ Document.description.name }}<i class="fa fa-angle-right"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
</div>
<!-- END CONTENT  -->
</div>

{{ render(controller('AppBundle:Footer:Index')) }}