
{{ render(controller('AppBundle:Header:Index', { 'Meta':Category })) }}

<div id="category">
    <!-- OPEN CONTENT  -->
    <section class="document">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ Category.description.name }}</h1>
                    <div class="panel-grey">
                        {{ Category.description.description|raw }}
                    </div>
                </div>
                <ul>
                    {% for Document in Category.documents  %}
                        <li><a href="{{ path('document_show', {'slug': Document.slug}) }}">{{ Document.description.name }}<i class="fa fa-angle-right"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
<!-- END CONTENT  -->
</div>

{{ render(controller('AppBundle:Footer:Index')) }}