<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
                body{background: #fff; margin: 1cm 1cm 1cm 2.5cm; }
	</style>
    </head> 
    <body>
        {{content|raw}}
    </body>
</html>