</div>
<!-- OPEN FOOTER  -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="logo" href="#"><img src="{{ asset('app/img/logo.png') }}" alt="logo"/></a>
            </div>
            <div class="col-sm-8">
                <ul class="nav nav-justified hidden-xs">
                    {% for link in links  %}
                        <li><a href="{{ path('page_show', {'slug': link.slug}) }}" >{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <img class="footer-icon" src="{{ asset('app/img/icon-phone.png') }}"/>
                <div class="footer-contact">
                    <b>062</b> 216-64-030<br />
                    <b>050</b> 326-64-03
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <img class="footer-icon" src="{{ asset('app/img/icon-email.png') }}"/>
                <div class="footer-contact">
                    support@superadvokat.com
                </div>
            </div>
            <p class="clearfix visible-sm visible-xs"></p>
            <div class="col-sm-6 col-md-4">
                <img class="footer-icon" src="{{ asset('app/img/icon-pin.png') }}"/>
                <div class="footer-contact">
                    ООО «Суперадвокат», 04213, Украина, г. Киев, проспект Героев Сталинграда, дом 42-б, офис № 126
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-telegram"></i></a>
                </div>
            </div>
        </div>
        <div class="row bottom-line">
            <div class="col-sm-6">
                &copy; 2017 Copyright
            </div>
            <div class="col-sm-6 text-right">

            </div>
        </div>
    </div>
</section>
<!--END FOOTER-->

</body>
</html>