<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ Meta.description.getMetaTitle() }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('app/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('app/css/font-awesome.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('app/css/jquery.formstyler.css') }}"/>
            <link rel="stylesheet" href="{{ asset('app/css/owl.carousel.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('app/css/style.css') }}"/>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('app/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('app/js/jquery.formstyler.min.js') }}"></script>
            <script src="{{ asset('app/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('app/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('app/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <div id="wrap">
        <!--HEADER-->
        <div id="header">
            <div class="container">
                <div class="top-contacts">
                    <div class="phone">
                        <b>062</b>&nbsp;216-64-030<br/>
                        <b>050</b>&nbsp;326-64-03
                    </div>
                    <div class="time">
                        {% trans %}Time of the work{% endtrans %}:<br/>
                        <b>09:00-18:00</b>
                    </div>
                </div>

                <div class="top-socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-telegram"></i></a>
                </div>
                <div class="top_aut_block">
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="user_name">
                                {{ app.user.username }}
                        </span> /
                        <a href="/admin" >{% trans %}Admin panel{% endtrans %}</a> /
                         <a href="{{ path('personal') }}" >{% trans %}Personal room{% endtrans %}</a> /
                        <a href="{{ path('logout') }}" >{% trans %}Go out{% endtrans %}</a>
                    {% elseif is_granted('ROLE_USER') %}
                        <span class="user_name">
                            {{ app.user.username }}
                        </span> /
                        <a href="{{ path('personal') }}" >{% trans %}Personal room{% endtrans %}</a> /
                        <a href="{{ path('logout') }}" >{% trans %}Go out{% endtrans %}</a>
                    {% else %}
                        <a href="{{ path('login') }}" >{% trans %}Login{% endtrans %}</a> /
                        <a href="{{ path('registration') }}" >{% trans %}Registration{% endtrans %}</a>
                    {% endif %}
                </div>

            </div>
            <div class="clearfix"></div>
            <!--MENU-->
            <nav class="navbar navbar-default">

                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        {% if Meta.slug == 'home' %}
                            <a class="logo menu_active" href="{{ path('home') }}"><img src="{{ asset('app/img/logo.png') }}" alt="logo"/></a>
                        {% else %}
                            <a class="logo" href="{{ path('home') }}"><img src="{{ asset('app/img/logo.png') }}" alt="logo"/></a>
                        {% endif %}
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav nav-justified">
                            {% for link in links  %}
                                <li {% if link.children != {} %} class="drop_down"  {% endif %} >

                                    {% if link.type_list == "drop" %}
                                        <span  {% if link.slug == Meta.slug %}  class="menu_active" {% endif %}>
                                            {{ link.name }}
                                        </span>
                                    {% else %}
                                        <a  {% if link.slug == Meta.slug %}  class="menu_active" {% endif %}
                                            href="{{ path(link.action, {'slug': link.slug}) }}" >{{ link.name }}
                                        </a>
                                    {% endif %}

                                    {% if link.children != {} %}
                                        <ul class="drop_list">
                                            {% for  child in link.children %}
                                                <li>
                                                    <a  {% if child.slug == Meta.slug %}  class="menu_active" {% endif %}
                                                            href="{{ path(child.action, {'slug': child.slug}) }}" >{{ child.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                </li>
                            {% endfor %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- END MENU -->
        </div>
        <!--END HEADER-->