
{{ render(controller('AppBundle:Header:Index', {'Meta': Meta})) }}

<div id="home">
    <section class="top-banner">
        <div class="owl-carousel owl-carousel-banner">
            <div class="item">
                <img src="./app/img/banner.jpg" alt="banner"/>
                <div class="caption">
                    <div class="container">
                        <header>Юридические услуги</header>
                        <div class="text">
                            Консультации и документы от ведущих юристов в удобном формате
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./app/img/banner2.jpg" alt="banner"/>
                <div class="caption">
                    <div class="container">
                        <header>Конструктор юридических документов</header>
                        <div class="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="./app/img/banner3.jpg" alt="banner"/>
                <div class="caption">
                    <div class="container">
                        <header>Пенсионерам</header>
                        <div class="text">
                            Возобновление пенсии
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            jQuery('document').ready(function($){
                $('.owl-carousel-banner').owlCarousel({
                    loop: true,
                    margin: 0,
                    nav: true,
                    items: 1,
                    dots: true,
                    navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
                });
            });

        </script>
    </section>
    <section class="about">
        <div class="container">
            <p><header class="section-header text-center">О нас</header></p>
            {{Meta.description.description|raw}}
        </div>
    </section>
    <section class="benefits">
        <div class="container">

            <header class="section-header text-center">Наши преимущества</header>

            <div class="benefits-items">
                <div class="item">
                    <div class="number">01</div>
                    <header>Удобно</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
                <div class="item">
                    <div class="number">02</div>
                    <header>Быстро</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
                <div class="item">
                    <div class="number">03</div>
                    <header>Надежно</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <section class="partners">
        <div class="container">
            <header class="section-header text-center">Партнеры</header>
            <div class="owl-carousel owl-carousel-brands">
                <div class="item">
                    <img src="./app/img/partner-google.png" alt="partner"/>

                </div>
                <div class="item">
                    <img src="./app/img/partner-hyundai.png" alt="partner"/>

                </div>
                <div class="item">
                    <img src="./app/img/partner-mastercard.png" alt="partner"/>

                </div>
                <div class="item">
                    <img src="./app/img/partner-ukrnafta.png" alt="partner"/>

                </div>
                <div class="item">
                    <img src="./app/img/partner-wog.png" alt="partner"/>

                </div>
            </div>
            <script>

                jQuery('document').ready(function($){
                    $('.owl-carousel-brands').owlCarousel({
                        loop: true,
                        margin: 0,
                        nav: true,
                        responsive : {
                            // breakpoint from 0 up
                            0 : {
                                items: 2
                            },
                            // breakpoint from 768 up
                            550 : {
                                items: 4
                            }
                        },
                        dots: true,
                        navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
                    });
                });

            </script>
        </div>
    </section>
    
</div>
{{ render(controller('AppBundle:Footer:Index')) }}