{{ render(controller('AppBundle:Header:Index', { 'Meta':Meta })) }}

    <div id="personal" class="container">
        <h2>Order failed page !</h2>
    </div>
</div>
{{ render(controller('AppBundle:Footer:Index')) }}