{{ render(controller('AppBundle:Header:Index', { 'Meta':Meta })) }}

    <div id="order-success" class="container">
        <h2>Order success page !</h2>
    </div>

{{ render(controller('AppBundle:Footer:Index')) }}