
{{ render(controller('AppBundle:Header:Index', { 'Meta':Page })) }}

<div id="page" class="container page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ Page.description.name }}</h1>
            <div class="panel-grey">
                {{ Page.description.description|raw }}
            </div>
        </div>
    </div>
<!-- END CONTENT  -->
</div>

{{ render(controller('AppBundle:Footer:Index')) }}