{{ render(controller('AppBundle:Header:Index', { 'Meta':Meta })) }}

<div id="registrationForm" class="container page">
    <h1>{% trans %}Registration{% endtrans %}</h1>
    {{ form_start(form) }}
    
        <div class="form-group">
            {{form_label(form.username)}}
            {{form_errors(form.username)}}
            {{form_widget(form.username)}}
        </div>
        <div class="form-group">
            {{form_label(form.email)}}
            {{form_errors(form.email)}}
            {{form_widget(form.email)}}
        </div>
        <div class="form-group">
            {{form_label(form.plainPassword.first)}}
            {{form_errors(form.plainPassword.first)}}
            {{form_widget(form.plainPassword.first)}}
        </div>
        <div class="form-group">
            {{form_label(form.plainPassword.second)}}
            {{form_errors(form.plainPassword.second)}}
            {{form_widget(form.plainPassword.second)}}
        </div>

        <button class="btn btn-success" type="submit">{% trans %}Send{% endtrans %}</button>
    
    {{ form_end(form) }}
</div>

{{ render(controller('AppBundle:Footer:Index')) }}